<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.harry.doodlenow">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".DoodleApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.LandingActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activity.CatchDoodleActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="*/*"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.DoodleActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activity.CreateDoodleActivity"
            android:screenOrientation="portrait"
            />
        <service android:name=".background.DoodlePostService"/>
    </application>
</manifest>
